<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Тестовое Задание</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:url" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="img/logo.svg">
</head>

<body>

    <!-- header  -->
    <header class="header">
        <div class="container wrapper">
            <a href="index.html" class="header-logo">
                <img class="header-logo__pic" src="img/logo.svg" alt="header logo">
            </a>
            <ul class="header-nav">
                <li class="header-nav__item"><a href="#!" class="header-nav__item-link">Магазины</a></li>
                <li class="header-nav__item"><a href="#!" class="header-nav__item-link">Контакты</a></li>
                <li class="header-nav__item"><a href="#!" class="header-nav__item-link">О нас</a></li>
                <li class="header-nav__item--login"><a href="#!" class="btn btn--bright">Войти</a></li>
            </ul>
            <a href="tel:+36787547894" class="header-contacts">+3 67 8754 7894</a>
            <div class="header-auth">
                <div class="header-auth__lang">
                    <a class="header-auth__lang-btn header-auth__lang--active" href="#!">Ru</a>
                    <a class="header-auth__lang-btn" href="#!">Eng</a>
                </div>
                <div class="header-auth__control">
                    <a href="" class="header-auth__control-login">Войти</a>
                    <a href="" class="header-auth__control-signup">Создать аккаунт</a>
                </div>
            </div>
            <div class="hamburger">
                <div class="hamburger__container">
                    <div class="hamburger__inner"></div>
                    <div class="hamburger__hidden"></div>
                </div>
            </div>
        </div>
    </header>