<!-- intro  -->
<section class="intro" style="background-image: url('img/intro-bg.png')">
    <div class="container intro-content">
        <h2 class="intro-content__title animate-top">
            Мы будем рады сотрудничать с вами на платформе 'Международной цветочной онлайн-площадки'!
        </h2>
        <p class="intro-content__subtitle animate-top">
            Присоединяйтесь к нам и начните получать доход с бизнеса в первый месяц регистрации!
        </p>
        <div class="content__btns animate-bottom">
            <a class="btn btn--light" href="#!">Начать продавать</a>
            <a class="btn btn--bright" href="#!">Начать покупать</a>
        </div>
    </div>
</section>