// COLORS 
$BROWN-COLOR: #372E11;
$FROSTING-CREAM-COLOR: #FFFBED;
$WOOD-CHI-COLOR: #8E825C;
$STILL-MORNING-COLOR: #FFF8E1;
$JUNE-DAY-COLOR: #FFE182;
$BLACK-COLOR: #000000;
$WHITE-EDGAR-COLOR: #EDEDED;
$GLAMOUR-WHITE-COLOR: #FFFBEC;
$GHOST-GREY-COLOR: #9B9B99;
$GREY-MARBLE-COLOR: #B9B3B3;
$TIGER-YELLOW-COLOR: #FFE07E;


// FONTS 
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Marmelad', sans-serif;
$pt-font: 'PT Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$rubik-font: 'Rubik Marker Hatch', cursive;

// mobile menu 
$h-padding: 15px;
$h-width: 24px;
$h-height: 24px;
$h-background-color: transparent;
$h-line-color: #372E11;
$h-hover-line-color: red;
$h-line-height: 2px;
$h-border-radius: 4px;
$h-transition-time: 0.4s;
$h-transition-function: ease;
$h-transition-opacity: 0;
$h-vertical-gap: 6.5px;
$h-initial-opposition: 5px;
$h-hide-distance: $h-width + $h-padding;

